.select__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1%;

}

select {
    height: 41px;
    width: 472px;
    border-radius: 7px;
    border: 3px solid var(--Dark-Grey, #262626);
    background: #191919;

}

